.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}

.categories-list > form {
  width: 60%;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
  max-width: 700px;
}

.questions-list > div {
    margin-bottom: 30px;
}

.Question-holder {
  padding: 10px 20px;
  border: 2px black solid;
  text-align: left;
  margin: 7px;
}

.Question {
  font-size: 20px;
  width: 100%;
  padding-bottom: 10px;
}

.difficulty {
    font-size: 14px;
    margin-top: 10px;
}

span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 30px;
  margin-right: 10px;
}

.questions-list img.category {
    float: left;
}

img.delete {
  width: 20px;
  cursor: pointer;
}